@charset "UTF-8";

/* ----------------------------------
main_color:
@media (min-width: 1021px) { #css{PC向け} }
@media (max-width: 1020px) and (min-width: 768px) { #css {狭いブラウザとタブレット向け} }
@media (max-width: 767px) { #css{スマホ向け} }

#インデントと改行に注意
#提出後からの修正のCSS追加する時は記述の最後に追加
----------------------------------- */

/* ----------------------------------
    reset-css
----------------------------------- */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
    *::before,
    *::after { 
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 16px;
    }  
    body,h1,h2,h3,h4,h5{
      margin: 0px;
      padding: 0px;
      font-weight: normal;
    }
    body {
      color: #000000;
      background-color: #fff;
      /* 左のものから優先 */
      font-family: "メイリオ", YuGothic;
      line-height: 1.3;
      font-size: 16px;
    }
    ol, ul {
      list-style: none;
    }
    img {
      max-width: 100%;
      height: auto; 
    }
    table {
      border-collapse: collapse;
    }
    a{
      cursor: pointer;
    }
  

    

/* ----------------------------------
    main
----------------------------------- */

main{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

/* ----------------------------------
    first-view
----------------------------------- */

.first-view{
  width:100%;
}




/* ----------------------------------
    menu
----------------------------------- */

.menu{
  width: 100%;
  justify-content: center;
}

.menu-list{
  width: 70%;
  display:flex;
  margin-left: auto;
  margin-right: auto;
  /* justify-content: center; */
}

.menu-list li
{
  width: 30%;
  text-align: center;
}

.menu-list li + li{
  border-left: 1px solid #333;
}



/* ----------------------------------
    box-top
----------------------------------- */







/* ----------------------------------
    box-middle
----------------------------------- */







/* ----------------------------------
    box-bottom
----------------------------------- */







/* ----------------------------------
    footer
----------------------------------- */








/* ----------------------------------
    追加修正(提出後)
----------------------------------- */