@charset "UTF-8";

/* ----------------------------------
main_color:
@media (min-width: 1021px) { #css{PC向け} }
@media (max-width: 1020px) and (min-width: 768px) { #css {狭いブラウザとタブレット向け} }
@media (max-width: 767px) { #css{スマホ向け} }

#インデントと改行に注意
#提出後からの修正のCSS追加する時は記述の最後に追加


▼カラー
紺：#131b7d
注意事項の文字：#da1b1b

▼フォントサイズ
PC：14px
スマホ：12px


----------------------------------- */

/* ----------------------------------
    reset-css
----------------------------------- */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
    *::before,
    *::after { 
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 16px;
    }  
    body,h1,h2,h3,h4,h5{
      margin: 0px;
      padding: 0px;
      font-weight: normal;
    }
    body {
      color: #000000;
      background-color: #fff;
      /* 左のものから優先 */
      font-family: "メイリオ", YuGothic;
      line-height: 1.3;
      font-size: 14px;
    }
    ol, ul {
      list-style: none;
    }
    img {
      max-width: 100%;
      height: auto; 
    }
    table {
      border-collapse: collapse;
    }
    a{
      cursor: pointer;
    }
  

    

/* ----------------------------------
    main
----------------------------------- */

main{
    position:relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

.background-left{
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 0%;
  width: 18%;
  height: auto;
}

.background-right{
  z-index: 1;
  position: absolute;
  top:20%;
  right:0%;
  width: 18%;
  height: auto;
}


/* ----------------------------------
    first-view
----------------------------------- */

.first-view{
  width:100%;
}




/* ----------------------------------
    menu
----------------------------------- */

.menu{
  width: 100%;
  justify-content: center;
}

.menu-list{
  width: 70%;
  display:flex;
  margin-left: auto;
  margin-right: auto;
  /* justify-content: center; */
}

.menu-list li
{
  width: 30%;
  text-align: center;
  height:auto;
}

.menu-list li + li{
  border-left: 1px solid #333;
}

/* ----------------------------------
    box
----------------------------------- */
.box{
  z-index: 2;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  box-shadow:0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
  border-radius: 10px;
  text-align:center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top:20px;
  padding-bottom:20px;
}

.box-title{
  color:#131b7d;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
}

/* ----------------------------------
    box-top
----------------------------------- */

.box-top-table{
  background-color: #131b7d;
  color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* .box-top-table tr ::before{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: red;

} */

/* table{
  position:relative;
} */

.box-top-table table , td {
	border: 1px solid #595959;
	border-collapse: collapse;
}
.box-top-table td {
	padding: 3px;
	/* width: 30px; */
	/* height: 25px; */
}





/* ----------------------------------
    box-middle
----------------------------------- */

.box-middle-title{
  font-size:24px;
}

.calender{
  width:70%;
  margin-left: auto;
  margin-right: auto;
}
.calender iframe{
  width: 100%;
  height: auto;
}




/* ----------------------------------
    box-bottom
----------------------------------- */

.notes{
  font-size: 20px;
  color: white;
  background-color: #131b7d;
  padding: 5px;
}

.notes-description{
  font-size:16px;
  padding-top:1em;
  padding-bottom:1em;
  background-color: white;
  color:#da1b1b;
  border-radius: 10px;
}

.contact{

}

.contact-title{
  color: #131b7d;
  font-size: 16px;
}




/* ----------------------------------
    footer
----------------------------------- */








/* ----------------------------------
    追加修正(提出後)
----------------------------------- */