@charset "UTF-8";

/* ----------------------------------
main_color:
@media (min-width: 1021px) { #css{PC向け} }
@media (max-width: 1020px) and (min-width: 768px) { #css {狭いブラウザとタブレット向け} }
@media (max-width: 767px) { #css{スマホ向け} }

#インデントと改行に注意
#提出後からの修正のCSS追加する時は記述の最後に追加


▼カラー
紺：#131b7d
注意事項の文字：#da1b1b

▼フォントサイズ
PC：14px
スマホ：12px


----------------------------------- */

/* ----------------------------------
    reset-css
----------------------------------- */




* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
    *::before,
    *::after { 
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 16px;
    }  
    body,h1,h2,h3,h4,h5{
      margin: 0px;
      padding: 0px;
      font-weight: normal;
    }
    body {
      color: #000000;
      background-color: #fff;
      /* 左のものから優先 */
      font-family: "メイリオ";
      line-height: 1.3;
      font-size: 14px;
    };
    ol, ul {
      list-style: none;
    }
    img {
      max-width: 100%;
      height: auto; 
    }
    table {
      border-collapse: collapse;
    }
    a{
      cursor: pointer;
    }
  

    

/* ----------------------------------
    main
----------------------------------- */

main{
    overflow:hidden;
    position:relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

/* pc */
@media screen and (min-width: 1021px){
  .responsive-tablet-br{
    display:none;
  }
  .responsive-smartphone-br{
    display:none;
  }
  .box{
    width: 70%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    box-shadow:0 0 5px #fff, 0 0 13px #898dbe;
    border-radius: 25px;
    text-align:center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #fff;
  }
}

/* pc or tablet */
@media screen and (min-width: 1020px){
  #wrapper{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:90%;
    background-image: url(img/pc/left_dummy.png),url(img/pc/right_dummy.png);
    background-position:left center, right center; 
    background-repeat: no-repeat,no-repeat;
    background-size: contain;
  } 
  .smartphone-image{
    display:none;
  }

  .responsive-smartphone-br{
    display:none;
  }
}



  .register-button{
    padding-left:30px;
    padding-right:30px;
    padding-top:5px;
    padding-bottom:5px;
    background: #FF3BE7;
    border: 3px solid #FF3BE7;
    border-radius: 0.5em;
    font-size: 22px;
    color:white;
    letter-spacing:0.1em;
    font-weight: bold;
  }

  .modal {
    width: 50%;
    height: 90%;
    border: 1px solid #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    display: none;
    overflow-y:auto;
    border-radius: 2em;
    border: none;
    box-shadow:0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
    flex-direction: column;
  }

  .modal-block-title{
    letter-spacing: 0.2em;
    font-size:30px;
    color:#131b7d;
    font-weight: bold;
  }

  .modal-block-description{
    letter-spacing: 0.1em;
    line-height: 2em;
    margin-top:3%;
    color:#262626;
  }

  .modal-register-button{
    font-size:16px;
    font-weight:bold;
    background:#131b7d;
    color:white;
    border-radius: 0.5em;
    letter-spacing: 0.1em;
    padding-top:1%;
    padding-bottom:1%;
    margin-top:3%;
    margin-bottom:3%;
    height:20%;
    width:60%;
  }


/* tablet */
@media screen and (min-width: 768px) and (max-width: 1020px){
  #wrapper{
    background-size: 19%;
  }
  .responsive-smartphone-br{
    display:none;
  }
  .box{
    width: 85%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    box-shadow:0 0 5px #fff, 0 0 13px #898dbe;
    border-radius: 25px;
    text-align:center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #fff;
  }
}

/* smartphone */
@media screen and (max-width: 767px){
  .box{
    width: 90%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    box-shadow:0 0 5px #fff, 0 0 13px #898dbe;
    border-radius: 25px;
    text-align:center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #fff;
    padding: 20px !important;
  }


  .register-button{
    padding-left:30px;
    padding-right:30px;
    padding-top:5px;
    padding-bottom:5px;
    background: #FF3BE7;
    border: 3px solid #FF3BE7;
    border-radius: 0.5em;
    font-size: 16px;
    color:white;
    letter-spacing:0.1em;
    font-weight: bold;
  }

  .modal {
    width: 95%;
    height: 95%;
    border: 1px solid #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    display: none;
    overflow-y:auto;
    border-radius: 2em;
    border: none;
    box-shadow:0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
    flex-direction: column;
  }

  .modal-block-title{
    letter-spacing: 0.2em;
    font-size:16px;
    color:#131b7d;
    font-weight: bold;
  }

  .modal-block-description{
    font-size: 11px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    margin-top:3%;
    color:#262626;
  }

  .modal-qr{
    display:none;
  }

  .modal-register-button{
    font-size:12px;
    font-weight:bold;
    background:#131b7d;
    color:white;
    border-radius: 0.5em;
    letter-spacing: 0.1em;
    padding-top:1%;
    padding-bottom:1%;
    margin-top:3%;
    margin-bottom:3%;
    height:20%;
    width:85%;
  }
}


/* ----------------------------------
    main追加修正(提出後)
----------------------------------- */

.box {
  margin-top: 5rem;
  padding: 3rem;
}

.smartphone-image img {
  width: 100%;
}

@media screen and (max-width: 767px){
  .box{
    margin-bottom: 0 !important;
  }
  .smartphone-image+.box {
    margin-top: 0;
  }
}



/* ----------------------------------
    first-view
----------------------------------- */

.first-view-pc{
  width:100%;
  position: relative;
  z-index: 1;
}


.first-view-pc img{
  width:100%;
}


@media screen and (max-width: 767px){
  .first-view-pc{
    display:none;
  }
}
 
@media screen and (min-width: 768px){
  .first-view-phone{
    display:none;
  }
}

.first-view-phone{
  width:100%;
  position: relative;
  z-index: 1;
}


.first-view-phone img{
  width:100%;
}


.shuttle1{
  position: absolute;
  top: 0;
  left: 40%;
  width: 10%;
  height: auto;
  animation: shuttle1 4s linear infinite;
}

.shuttle2{
  position: absolute;
  top: 50%;
  left: 1%;
  width: 6%;
  height: auto;
  animation: shuttle1 4s linear infinite;
}

.shuttle3{
  position: absolute;
  top: 75%;
  left: 45%;
  width: 5%;
  height: auto;
  animation: shuttle1 4s linear infinite;
}

.shuttle1-phone{
  position: absolute;
  top: 3%;
  left: 70%;
  width: 20%;
  height: auto;
  animation: shuttle1 4s linear infinite;
}

.shuttle2-phone{
  position: absolute;
  top: 75%;
  left: 5%;
  width: 15%;
  height: auto;
  animation: shuttle1 4s linear infinite;

}

.shuttle3-phone{
  position: absolute;
  top: 18%;
  left: 10%;
  width: 10%;
  height: auto;
  animation: shuttle1 4s linear infinite;
}


.animation-yurayura{
  transform-origin: center bottom;
  animation: yurayura 2s linear infinite;
}


@keyframes  yurayura{
  0% , 100%{
    transform: rotate(10deg);
  }
  50%{
    transform: rotate(-10deg);
  }
}


.waves {
  position: absolute;
  bottom: 3px;
  display: flex;
 }


.waves-each {
  display:flex;
  width:30%;
  margin: 0;
  padding: 0;
}
  
  
  
.endless-wave {
  display:block;
  width:10%;
  height:auto;
  flex-shrink:0;
}
  
  
#wave{
  animation: wave 6s 2s linear infinite;
}
  
  
@keyframes wave {
  from {
    transform:translate(0%);
  }
  
  to {
    transform:translate(-200%);
  }
  
}


/* ----------------------------------
    first-view追加修正(提出後)
----------------------------------- */


@media (max-width: 783px) {
  #wave {
      animation: wave 4s 2s linear infinite;
  }
}



/* ----------------------------------
    menu
----------------------------------- */

.menu{
  width: 100%;
}

.menu-list{
  width: 70%;
  display:flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

@media screen and (min-width: 515px) and (max-width: 685px) {
  .menu-list{
    width: 90%;
  }
}


@media screen and (min-width: 450px) and (max-width: 515px){
  .menu-br{
    display:none;
  }
  .menu-list{
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .menu-list{
    width: 100%;
  }
}

.menu-list a{
  text-decoration: none;
  color: #131b7d;
}

.menu-list li{
  width: 33.3%;
  text-align: center;
  height:auto;
  list-style:none
}


.menu-list li + li{
  border-left: 1.5px solid #bdc2f5;
  height: 50px;
}

.menu-list-text{
  font-weight: bold;
  letter-spacing: 0.1em;
}

.menu-list-img{
  margin-top:7px;
  margin-left: auto;
  margin-right: auto;
  width: 22px;
  height: 22px;
}


.menu-list a:hover .menu-list-img {
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.4s;
    animation-name: anim_v;
  }
  

    
@keyframes anim_v {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 5px);
  }
}


::marker{
  display: none;
}


/* アンカーリンクへのスムーススクロール */
html {
   scroll-behavior: smooth;
}




/* ----------------------------------
    box
----------------------------------- */

.box-title{
  color:#131b7d;
  font-size:24px;
  font-weight: bold;
  padding-top:10px;
  padding-bottom:10px;
}

/* ----------------------------------
    box-top
----------------------------------- */

.introduce-description{
  padding-left: 10%;
  padding-right: 10%;
}


.introduce-admin{
  padding-top:0.5em;
  padding-bottom:0.5em;
}

.introduce-table{
  padding: 0.5em;
  background-color: #131b7d;
  color: white;
  width: 90%;
  border-radius: 0.5em;
  margin-top:3%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.introduce-table table{
  margin-left: auto;
  margin-right: auto;
  width:90%;
}


td.place::before{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 22.3%;
  top: 15%;
  background-color: #131b7d;
}

td.time::after{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 22.3%;
  top: 29%;
  background-color: #131b7d;
}

td.gender::before{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 22.3%;
  top: 43%;
  background-color: #131b7d;
}

td.age::after{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 22.3%;
  top: 57%;
  background-color: #131b7d;
}

td.bad::after{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 22.3%;
  top: 83%;
  background-color: #131b7d;
}


td .column{
  letter-spacing: 0.3em;
  border-left: #131b7d;
}


.value{
  text-align: left;
  padding-left: 10%;
  padding-top:1em;
  padding-bottom:1em;
}


td.column{
  border-right: 1px solid #fff;
}


.introduce-table tr{
	border-bottom: 1px solid #fff;
	border-collapse: collapse;
}

tr.table-bottom{
  border-bottom:0px;
}



/* ----------------------------------
    box-top追加修正(提出後)
----------------------------------- */

.introduce-description {
  line-height: 1.8rem;
  padding-top: 1rem;
}

@media screen and (max-width: 767px){
  .introduce-description {
    padding: 1rem 0 0;
  }
}

@media screen and (max-width: 767px){
  .introduce-table {
    margin: 3% 0;
    width: 100%;
  }
}

/* ----------------------------------
    box-middle
----------------------------------- */

.box-middle-title{
  font-size:24px;
}

.calender{
  width:80%;
  height:500px;
  margin-left: auto;
  margin-right: auto;
}
.calender iframe{
  width: 100%;
  height:500px;
}


/* ----------------------------------
    box-middle追加修正(提出後)
----------------------------------- */
@media screen and (max-width: 767px){
  .calender {
    width: 100%;
  }
}







/* ----------------------------------
    box-bottom
----------------------------------- */

.box-bootom{
  margin-bottom: 70px;
}

.notes{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: white;
  background-color: #131b7d;
  padding: 5px;
  border-radius: 0.5em;
}

.notes-description{
  padding-top:1em;
  padding-bottom:1em;
  background-color: white;
  border-radius: 0.5em;
}

.notes-description-text{
  width:70%;
  margin-left:auto;
  margin-right:auto;
  font-size:14px;
  font-weight: bold;
  color:#da1b1b;
}

.notes-description p {
  text-align:left;
}

.register{
  margin-top: 5%;
  margin-bottom: 5%;
}

.register-description{
  margin-top:5%;
  margin-bottom:3%;
  font-size: 18px;
  font-weight: bold;
  color:#131b7d;
}

.register-button:hover{
  border-radius:0.5em;
  border-width: 1px;
  background:white;
  border: 3px solid #FF3BE7;
  color:#FF3BE7;
}



/* モーダル用 */


.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: grey;
  opacity: .6;
  display: none;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
}



.modal-content{
  padding:5%;
  position:relative;
  z-index: 20;
}


.modal-block{
  height:50%;
}

@media screen and (min-width:1030px){
  .modal-title-br{
    display: none;
  }
}
 
@media screen and (max-width:768px){
  .modal-title-br{
    display: none;
  }
}

  


.modal-block-description{
  letter-spacing: 0.1em;
  line-height: 2em;
  margin-top:3%;
  color:#262626;
}

.modal-block-description > .note{
  color:red;
}


.modal-register-button:hover{
  border-radius:0.5em;
  border-width: 1px;
  background:white;
  border: 3px solid #131b7d;
  color:#131b7d;
}

.modal-qr-image{
  height:auto;
  width:30%;
}



.modal_close_position{
  position:sticky;
  top: 20px;
  right: 20px;
  
}


.modal-close {
  background: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0 20px 0 auto;
  cursor: pointer;
  width: 28px;
  display: block;
  height: 28px;

}

.modal-close span {
  position: relative;
  width: 100%;
  height: 1px;
  background: black;
  display: block;
}

.modal-close span:nth-child(1) {
  transform: rotate(45deg);
}

.modal-close span:nth-child(2) {
  transform: rotate(-45deg);
}

.modal-open {
  cursor: pointer;
  background: orange;
  border: orange;
  color: #fff;
  padding: 10px 12px;
}


.overlay.open {
  display: block;
}

.modal.open {
  display: block;
}

.modal-content__description h2{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #131b7d;
}

.modal-content hr{
  margin: 30px;
  height: 0.5px;
  width: 90%;
}

/* ----------------------------------
    box-bottom追加修正(提出後)
----------------------------------- */

.pc-footer,.smartphone-footer {
  z-index: 1;
}
.overlay {
  z-index: 5;
}
.modal {
  z-index: 10;
}

.modal_close_position {
  z-index: 25;
}

.notes {
  padding-top: 10px;
}
.notes-description {
  margin-top: 10px;
}

.notes-description p {
  line-height: 1.8rem;
}

.register-description {
  line-height: 2rem;
}

#js-modal::-webkit-scrollbar{
  display: none;
}

/* モーダル表示後のスクロールバー非表示 */
/*IE(Internet Explorer)・Microsoft Edgeへの対応*/
#js-modal{
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}

.modal-register-button {
    border: 3px solid #131b7d;
    line-height: 1.5rem;
}


@media (max-width: 1020px) {
  .modal {
    width: 80%;
  }
}

@media screen and (max-width: 767px){
  .notes {
    width: 100%;
  }
  .notes-description-text {
    width: 85%;
  }
}


.modal-content hr {
  margin: 30px auto;
}












/* ----------------------------------
    footer
----------------------------------- */

.pc-footer{
  width:100%;
  position: absolute;
  bottom: -10px;
  position:relative;
  z-index: 0;
}

.footer-description p{
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 1;
  color: #fff;
}


@media screen and (max-width: 768px) {
  .pc-footer{
    display:none;
  }
  .footer-description{
    display:none;
  }
}

.smartphone-footer{
  width:100%;
}

@media screen and (min-width: 769px){
  .smartphone-footer{
    position:relative;
    z-index: 0;
    display:none;
  } 
}
  

/* ----------------------------------
    footer追加修正(提出後)
----------------------------------- */
.pc-footer {
  margin-top: -150px;
}






 
  















